
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  @apply bg-white dark:bg-black;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Hide Scrollbar */
::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: transparent;
}